.profile__checkbox {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  align-self: center;
  margin-left: 18px;
  background-color: #000000;
}

.profile__checkbox:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 320px) {
  .profile__checkbox {
    width: 18px;
    height: 18px;
  }
}
