.cards__heart {
  width: 22px;
  height: 19px;
  margin-right: 30px;
  margin-left: auto;
  background-image: url(../../../images/heart.svg);
  border: none;
}

.cards__heart:hover {
  cursor: pointer;
  opacity: 0.8;
}

