.cards__heart {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background-image: url(../../../images/heart.svg);
  border: none;
}

.cards__heart:hover {
  cursor: pointer;
  opacity: 0.6;
}

