.popup__border {
  width: 358px;
  opacity: 0.2;
  border: 1px solid #000000;
  margin: 13px 36px 30px;
}

@media (max-width: 968px) {
  .popup__border {
    width: 238px;
    margin-right: 22px;
    margin-left: 22px;
  }
}
